
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Smooch&display=swap');

.hidden {
    display: none;
  }


body {
    margin: 0;
    font-family: '', Bold;
  }
  
  header {
    background-color: #ff9100a9;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo h1 {
    margin: 10px;
    padding: 10px;
    font-size: 100px;
    font-family: 'Zeyada', cursive;
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    font-size: 24px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: bold;
  }
  
  ul li span {
    font-size: 18px;
   
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  